body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Times New Roman';
}

body {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: .5fr repeat(4, 1fr);
}

/* Sidebar Styling */

#sidebar {
    grid-area: 1/1 / 6/2;

    background-color: rgb(88, 168, 233);
    color: white;
    padding: 0 1rem 2rem 2rem;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr 3fr;
    gap: 4px;

    font-weight: 900;
}

.empty-row {
    grid-column: 1/3;
}

#dashboard-icon {
    margin-top: 18px;
}

#sidebar div {
    margin-top: .4rem;
}

#sidebar img {
    height: 2rem;
}

/* Header Styling */

#header {
    grid-area: 1/2 / 2/5;

    box-shadow: 0px 2px 0px 0px rgb(124, 124, 124);
    margin-bottom: 2px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 8px;

    padding: 1rem .5rem .5rem 1rem;
}

#header-one {
    display: grid;
    grid-template-columns: 1fr 10fr repeat(3, 1fr) 3fr;
    gap: 8px;
}

#header-two {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr repeat(3, 1.5fr);
    gap: 8px;
}


.btn {
    background-color: rgb(88, 168, 233);
    border-color: rgb(88, 168, 233);
    border-radius: 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

#search {
    margin-top: 6px;
}

#searchbar {
    background-color: grey;
    height: 1.8rem;
    border-radius: 16px;
}

#bell {
    margin-top: 6px;
}

#name {
    margin-left: 10px;
}

#big-pic {
    height: 5rem;
    margin-top: 10px;
}

/* Main Content Styling */

#main {
    grid-area: 2/2 / 6/4;

    display: grid;
    grid-template-rows: 4rem repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    background-color: rgb(226, 226, 226);
    padding: 12px;
    padding-bottom: 24px;
}

#main h3 {
    grid-column: 1/3;
}

.card {
    min-height: clamp(8rem, 10rem, 12rem);
    min-width: clamp(12rem, 15rem, 18rem);
    background-color: white;
    border-radius: 1rem;
    border-left: 16px solid rgb(0, 204, 0);
    padding: 0 2px 0 4px;
}

/* News Section Styling */

#news {
    grid-area: 2/4 / 6/5;

    background-color: rgb(226, 226, 226);
    padding: 12px;
    padding-bottom: 24px;
}

.news-container {
    background-color: white;
    border-radius: .5rem;
    padding: 12px;
}

#news > h3 {
    margin-bottom: 38px;
}

.border {
    background-color: black;
    height: 1px;
}

#trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
}

.trending-user {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* miscellaneous */

.profile {
    border-radius: 100%;
    height: 3rem;
}